<div class="container flex flex-col gap-10 justify-center mx-auto my-5 animate-sliding-in">
  <app-breadcrumb></app-breadcrumb>
  <div class="w-md mx-auto">
  <img
    class="rounded-lg"
    src="./assets/images/clown-w-text.png"
    alt=""
    width="750"
    height="750"
  />
</div>
  <p>
    JigSaw Me is a collaboration between <a href="https://empower2free.com/">Empower2Free</a> and <a href="https://octopus8.com">Octopus8</a> to create an online game application to find out a person's financial literacy. 
  </p>
  <div class="container flex flex-col gap-5">
    <span class="bg-slate-700 rounded p-1">Website</span>
    jigsawme.antgility.com (UNAVAILABLE)
    <span class="bg-slate-700 rounded p-1">Stack</span>
    <span class="p-1">Angular6, Adobe XD, SCSS, Postman</span>
</div>
<!--<div class="w-md mx-auto">

  <img
    class="rounded-lg"
    src=""
    alt="picture of website"
    width="750"
    height="750"
  />
  </div>
</div>-->
