<div class="flex flex-col container mx-auto align-middle items-center gap-10 animate-sliding-in">
  <div class="flex flex-row gap-5">
    <div class="flex flex-col">
      <h1 class="text-6xl font-bold">Nuralfian Rashid</h1>
      <h2>Aspiring IT Professional</h2>
      <span>Designer / Developer / Dreamer</span>
    </div>
    <img
      class="bg-contain border rounded-full w-32 h-32"
      src="/assets/images/profile-pic.jpg"
      alt="profile-photo"
      srcset=""
    />
  </div>
  <p>
    From experimental passion projects to commissioned work for clients, I’ve
    had the opportunity to create a variety of projects in the tech industry. I
    thrive on creative challenges and enjoy building strong relationships along
    the way. Feel free to explore to get to know me more!
  </p>

  <article class="flex flex-col gap-3">
    <h3 class="text-4xl font-bold w-full">Present Work</h3>
    <p>
      Alfian is a IT enthusiast based in Singapore with a passion for creating
      digital services / applications. He has a knack for all things IT. From
      planning, designing and solving real-life problems through IT, Alfian is
      willing to take one step at the time to make the world accessible for
      everyone. During spare times, he loves to play computer games that
      interest him. Currently, he works with a software company called
      <a href="http://octopus8.com">Octopus8</a> and has been working there for
      3 years and counting.
    </p>
    <div
      class="flex flex-col bg-slate-200 rounded p-5 shadow-md text-slate-800 justify-center text-center items-center gap-5"
    >
      <span
        >To get to know his full work experience in IT and Bio, head over to his
        LinkedIn</span
      >
      <button
        class="w-40 h-14 rounded text-slate-200 hover:bg-slate-500"
        onclick="location.href='https://www.linkedin.com/in/nuralfian/'"
      >
        Alfian's LinkedIn
      </button>
    </div>
  </article>
  <article class="flex flex-col gap-3 w-full">
    <h3 class="text-4xl font-bold w-full">I &hearts;</h3>
    <p>Art, Gaming, Google, Music, Books</p>
  </article>
  <article class="flex flex-col gap-3 w-full">
    <h3 class="text-4xl font-bold w-full">Find me @</h3>
    <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://github.com/alfianlion/'"
    >
      Github
    </button>
    <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://www.linkedin.com/in/nuralfian/'"
    >
      LinkedIn
    </button>
    <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://forms.gle/sSoJbbHkCGBSzZ3q8'"
    >
      Email
    </button>
    
  </article>
  
</div>
