<div class="container flex flex-col gap-10 mx-auto my-5 animate-sliding-in">
  <div class="w-full flex flex-col lg:flex-row gap-5 align-middle items-center">
    <article class="grow">
      <h1 class="text-2xl lg:text-6xl font-bold w-full">Nuralfian Rashid</h1>
      <h2>Aspiring IT Professional</h2>
      <span>Designer / Developer / Dreamer</span>
    </article>
        <img
        class="bg-contain border rounded-full grow-0 w-[80px] h-[80px]"
        src="./assets/images/profile-pic.jpg"
        alt="profile-photo"
        srcset=""
        />
  </div>

  <span class="text-justify bg-slate-100 bg-opacity-10 rounded-md p-5">
    From experimental passion projects to commissioned work for clients, I’ve
    had the opportunity to create a variety of projects in the tech industry. I
    thrive on creative challenges and enjoy building strong relationships along
    the way. Feel free to explore to get to know me more!
  </span>

  <article class="flex flex-col gap-5">
    <h3 class="text-4xl font-bold w-full">Present Work</h3>
    <p class="text-justify">
      Alfian is a IT enthusiast based in Singapore with a passion for creating
      digital services / applications. He has a knack for all things IT. From
      planning, designing and solving real-life problems through IT, Alfian is
      willing to take one step at the time to make the world accessible for
      everyone. During spare times, he loves to play computer games that
      interest him. Currently, he works with a software company called
      <a href="http://octopus8.com">Octopus8</a> and has been working there for
      3 years and counting.
    </p>

    <div
      class="flex flex-col bg-slate-200 rounded p-5 shadow-md text-slate-800 justify-center text-center items-center gap-5"
    >
      <span
        >To get to know his full work experience in IT and Bio, head over to his
        LinkedIn</span
      >
      <button
        class="p-4 rounded text-slate-200 hover:bg-slate-500"
        onclick="location.href='https://www.linkedin.com/in/nuralfian/'"
      >
        Alfian's LinkedIn
      </button>
    </div>
  </article>

  <article class="flex flex-col gap-5">
    <h3 class="text-4xl font-bold w-full">I &hearts;</h3>
    <p>Art, Gaming, Google, Music, Books</p>
  </article>
  <article class="flex flex-col gap-5">
    <h3 class="text-4xl font-bold w-full">Find me @</h3>
    <div class="flex flex-col lg:flex-row gap-5">
      <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://github.com/alfianlion/'"
    >
      Github
    </button>
    <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://www.linkedin.com/in/nuralfian/'"
    >
      LinkedIn
    </button>
    <button
      class="w-20 h-14 rounded text-slate-200 hover:bg-slate-500"
      onclick="location.href='https://forms.gle/sSoJbbHkCGBSzZ3q8'"
    >
      Email
    </button>  
    </div>
    
  </article>
  
</div>