<div class="container flex flex-col gap-10 justify-center mx-auto my-5 animate-sliding-in">
  <app-breadcrumb></app-breadcrumb>
  <div class="w-md mx-auto">
  <img
    class="rounded-lg"
    src="./assets/images/ID-website-2.PNG"
    alt=""
    width="750"
    height="750"
  />
</div>
  <p>
    The goal is to create an interactive website portfolio using the skills
    learnt during the Interactive Design module. Learnt about design, typography
    and color theory.
  </p>
  <div class="container flex flex-col gap-5">
    <span class="bg-slate-700 rounded p-1">Website</span>
    <a class="p-1" href="https://alfianlion.github.io/IDAssignment1/"
      >alfianlion.github.io/IDAssignment1/</a
    >
    <span class="bg-slate-700 rounded p-1">Stack</span>
    <span class="p-1">HTML, JavaScript, CSS</span>
    <span class="bg-slate-700 rounded p-1">Repository</span>
    <a
      class="p-1 text-slate-"
      href="https://github.com/alfianlion/IDAssignment1/"
      >github.com/alfianlion/IDAssignment1/</a
    >
</div>
<div class="w-md mx-auto">

  <img
    class="rounded-lg"
    src="./assets/images/ID-website-1.PNG"
    alt=""
    width="750"
    height="750"
  />
  </div>
</div>
