<nav class="container mx-auto">
    <div class="flex justify-around">
    <h1 routerLink="/"><span>Alfian.tech</span></h1>
        <ul class="flex w-full flex-wrap justify-end md:flex-nowrap md:gap-2">
            <li>
                <button routerLink="/skills"><span>Skills</span></button>
            </li>
            <li>
                <button routerLink="/projects"><span>Projects</span></button>
            </li>
            <li>
                <button routerLink="/works"><span>Works</span></button>
            </li>
        </ul>
    </div>
</nav>