<div class="container flex flex-col gap-10 justify-center mx-auto my-5 animate-sliding-in">
  <app-breadcrumb></app-breadcrumb>
  <div class="w-md mx-auto">
  <img
    class="rounded-lg"
    src=""
    alt="Interviewsconnect team group picture"
    width="750"
    height="750"
  />
</div>
  <p>
    InterviewsConnect aims to enrich the youth with knowledge that will help them with their future careers and develop their capabilities,through the guidance of mentors in the working world.
  </p>
  <div class="container flex flex-col gap-5">
    <span class="bg-slate-700 rounded p-1">Website</span>
    <a class="p-1" href="https://interviewsconnect.com"
      >interviewsconnect.com</a
    >
    <span class="bg-slate-700 rounded p-1">Stack</span>
    <span class="p-1">Wordpress, Ninja Form, Astra</span>
</div>
<div class="w-md mx-auto">

  <img
    class="rounded-lg"
    src="./assets/images/interviewsconnect_website.png"
    alt="picture of website"
    width="750"
    height="750"
  />
  </div>
</div>
